<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css', 'theme') }}" />
        <link rel="stylesheet" href="{{ asset('css/app.css', 'theme') }}" />

        <title>
            {% if record.title is defined %}
                {{ record.title|striptags }} |
            {% endif %}
            {{ app.config.get('general/sitename') }}
            {% if record.title is not defined %}
                | {{ app.config.get('general/payoff') }}
            {% endif %}
        </title>
    </head>
    <body>
        {% include 'partials/_header.twig' %}

        <div class="container">
            <div class="row">
                <div class="col-md-{{ theme.layout.main.width }} {{ not theme.layout.aside is defined ? 'col-centered'}}">
                    {% block main %}
                    {% endblock %}
                </div>

                {% if theme.layout.aside is defined %}
                    <div class="col-md-{{ theme.layout.aside.width }}">
                        {% include 'partials/_aside.twig' %}
                    </div>
                {% endif %}
            </div>
        </div>

        {% include 'partials/_footer.twig' %}

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="{{ asset('js/bootstrap.min.js', 'theme') }}"></script>
    </body>
</html>