<ul class="navbar-nav mr-auto">
    {% for item in menu %}
        <li class="nav-item {{ item.submenu is defined ? 'dropdown' }}">
            <a class="nav-link {{ item.submenu is defined ? 'dropdown-toggle' }}" href="{{ item.link }}" {{ item.submenu is defined ? 'data-toggle="dropdown"' }}>{{ item.label }}</a>

            {% if item.submenu is defined %}
                <div class="dropdown-menu">
                    {# Because the link on a Bootstrap dropdown menu is not clickable, we need to repeat the link in the dropdown #}
                    <a class="dropdown-item" href="{{ item.link }}">{{ item.label }}</a>
                    <div class="dropdown-divider"></div>

                    {% for subitem in item.submenu %}
                        <a class="dropdown-item" href="{{ subitem.link }}">{{ subitem.label }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>